.App {
  text-align: center;
 
}

h1{
   color:blueviolet;
}

.header{
  text-align: center;

}

.navBar{
  border-style: solid;
  border-color: blue;
}

/* .homePage{
  border-style: dotted;
  border-color:rgb(8, 117, 117);
  margin: 15px;
} */

.articlesBoard{
  margin: 15px;
  border-style: dashed
}

.sortNavBar{
  margin: 15px;
  border-style: double;
}

.articlesList{
  margin: 15px;
  border-style: dotted;
  border-color: red;
}

.articleCard{
  margin: 15px;
  border-style: dashed;
  border-color: rgb(184, 24, 85);
}

.footer{
  margin: 15px;
  border-style: double;
  border-color: blue;

}

