body{
  text-align: center;
  background-color: rgb(191, 191, 230, 1);

}

.App {
  text-align: center;
  background-color: rgb(191, 191, 230, 1);
}


h1{
   color:blueviolet;
}

li{
  list-style: none;
}

.header{
  text-align: center;

}

.navBar{
  border-style: solid;
  border-color: blue;
}

button{
  margin: 10px;
}

/* .homePage{
  border-style: dotted;
  border-color:rgb(8, 117, 117);
  margin: 15px;
} */

.articlesBoard{
  margin: 15px;
  border-style: dashed
 
}

.sortNavBar{
  margin: 15px;
  border-style: double;
}

.articlesList{
  margin: 15px;
  border-style: dotted;
  border-color: red;
}

.articleCard{
  margin: 15px;
  border-style: dashed;
  border-color: rgb(184, 24, 85);
}

.footer{
  margin: 15px;
  border-style: double;
  border-color: blue;

}

.topicCardSingle{
  border-style: dotted;
  margin-left: auto;
  margin-right: auto;
  margin-left: 5px;
  margin-right: 5px;
}