body {
	text-align: center;
	background-color: rgb(191, 191, 230, 1);
}

.App {
	text-align: center;
	background-color: rgb(191, 191, 230, 1);
	padding-left: 0px;
}

h1 {
	color: blueviolet;
}

li {
	list-style: none;
	margin-left: 0px;
	padding-left: 0px;
}

ul {
	list-style: none;
	margin-left: 0px;
	padding-left: 0px;
}

.header {
	text-align: center;
}

.navBar {
	border-style: solid;
	border-color: blue;
}

button {
	margin: 10px;
}

/* .homePage{
  border-style: dotted;
  border-color:rgb(8, 117, 117);
  margin: 15px;
} */

.articlesBoard {
	margin-left: 0px;
	border-style: dashed;
}

.sortNavBar {
	margin: 15px;
	border-style: double;
	display: flex;
	justify-content: space-between;
	padding: 5px;
}

.articlesList {
	margin-left: 0px;
	border-style: dotted;
	border-color: red;
	padding-left: 0px;
}

.article-list-ul{

	padding-left: 0px;
	margin-left: 0px;
}

.articleCardList {
	margin: 0x;
	padding: 0px;
	padding-left: 0px;
	border-style: dashed;
	border-color: rgb(184, 24, 85);
}

.singleArticle{
	margin-left: 0px;
	padding-left: 0px;
	border-style: solid;
	border-color: gray;
}

.footer {
	margin: 15px;
	margin-left: 0px;
	padding: 0px;
	border-style: double;
	border-color: blue;
}

.topicCard{
  padding-left: 0px;
}

.topicCardSingle {
	border-style: dotted;
	margin-left: auto;
	margin-right: auto;
	margin-left: 0px;
	margin-right: 5px;
  padding-left: 0px;
}

.topics {
	display: flex;
	justify-content: space-between;
	padding-left: 0px;
}
